**1**

In [ ]:
for i in range(3):
  print("MUDRIKA KUMAWAT")

MUDRIKA KUMAWAT
MUDRIKA KUMAWAT
MUDRIKA KUMAWAT

**2.1**

In [2]:
a=10
b=220
c=23
c=a+b
print(a,"+",b,"+",c,"=",a+b+c)

10 + 220 + 230 = 460

**2.2**

In [3]:
a="hello"
b="world"
c="ji"
print(a+b+c)

helloworldji

**4.1**

In [4]:
for i in range(1,11,1):
  print(4,"x",i,"=",7*i,"   ",5,"x",i,"=",9*i)
  print("\n")

4 x 1 = 7     5 x 1 = 9


4 x 2 = 14     5 x 2 = 18


4 x 3 = 21     5 x 3 = 27


4 x 4 = 28     5 x 4 = 36


4 x 5 = 35     5 x 5 = 45


4 x 6 = 42     5 x 6 = 54


4 x 7 = 49     5 x 7 = 63


4 x 8 = 56     5 x 8 = 72


4 x 9 = 63     5 x 9 = 81


4 x 10 = 70     5 x 10 = 90

**4.2**

In [5]:
n=int(input("enter any integer of your choice\n"))
for i in range(1,11,1):
   print(n,"x",i,"=",n*i)

ValueError: invalid literal for int() with base 10: ''

**4.3**

In [ ]:
n=int(input("Enter a number\n"))
sum=0
for i in range(1,n+1,1):
  sum=sum+i
print(sum)

Enter a number
12
78

**5.1 ,5.2,5.3**

In [ ]:
a=int(input("enter first number\n"))
b=int(input("enter second number\n"))
c=int(input("enter third number\n"))
max_no=max(a,b,c)
print("max= ",max_no)

enter first number
4
enter second number
6
enter third number
67
max=  67

In [ ]:
n=int(input("enter first number\n"))
sum=0;
for i in range(1,n+1,1):
  if(i%7==0 and i%9==0):
    sum=sum+i
print(sum)

enter first number
63
63

In [ ]:
n = int(input("Enter a No: "))
sum = 0

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n//2) + 1):
        if n % i == 0:
            return False
    return True

for i in range(2, n + 1):
    if is_prime(i):
        sum += i

print(sum)

Enter a No: 10
17

6.1,**6.2**

In [ ]:
n=int(input("enter first number\n"))
sum=0
for i in range(1,n+1,2):
  sum=sum+i
print(sum)

enter first number
5
9

In [ ]:
n = int(input("Enter a No: "))
sum = 0

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n//2) + 1):
        if n % i == 0:
            return False
    return True

for i in range(2, n + 1):
    if is_prime(i):
        sum += i

print(sum)

Enter a No: 10
17