Assignment **2**

1

In [1]:
L=[10,20,30,40,50,60,70,80]
L.append(200)
L.append(300)
print("after 1",L)
L.remove(10)
L.remove(30)
print("after 2",L)
L.sort()
print("after 3",L)
L.sort(reverse=True)
print("after 4 ",L)

after 1 [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
after 2 [20, 40, 50, 60, 70, 80, 200, 300]
after 3 [20, 40, 50, 60, 70, 80, 200, 300]
after 4  [300, 200, 80, 70, 60, 50, 40, 20]

2

In [15]:
t=(45, 89.5, 76, 45.4, 89, 92, 58, 45)

print(max(t))
print(t.index(max(t)))
print(min(t))
print(t.count(min(t)))
lst=list(t[::-1])
print(lst)
n=int(input("enter the number"))
if(t.count(n)):
  print( t.index(n))
else:
  print("Not present")

92
5
45
2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
enter the number12
Not present

**3**

In [1]:
import random
random_nums=[random.randint(101,899) for i in range(100)]
#print(random_nums)
cnt=0
for i in random_nums:
  if(i%2==1):
    cnt+=1
    print(i,end=" ")
print("\n")
print("count of odd no = ",cnt)
cnte=0
for i in random_nums:
  if(i%2==0):
    cnte+=1
    print(i,end=" ")
print("\n")
print("count of even no = ",cnte)
def is_prime(n):
  if(n<=1):
    return False
  for i in range(2,n//2,1):
    if(n%i==0):
      return False
  return True
prime_numbers = [num for num in random_nums if is_prime(num)]
print("Prime numbers:", prime_numbers)
print(len(prime_numbers))

363 569 697 555 719 799 197 183 713 137 793 121 877 511 885 885 489 823 719 615 725 421 265 751 719 579 591 209 729 293 627 727 741 721 411 381 745 877 289 843 673 601 721 579 187 833 211 527 341

count of odd no =  49
368 178 806 820 674 676 612 890 424 846 892 152 550 630 422 796 594 304 898 642 312 842 700 854 408 686 292 682 216 580 196 752 448 290 716 744 302 508 646 216 498 810 856 172 410 720 250 484 730 170 778

count of even no =  51
Prime numbers: [569, 719, 197, 137, 877, 823, 719, 421, 751, 719, 293, 727, 877, 673, 601, 211]
16

**4**

In [ ]:
A = {93, 5, 8, 90}
B = {8, 48, 93, 23}
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))
print(B.difference(A))
print(A.symmetric_difference(B))
if(A.issubset(B)):
  print("A is subset of B")
else:
  print("A is not subset of B")
if(B.issuperset(A)):
  print("B is superset of A")
else:
  print("B is not superset of A")
x=int(input("enter the number"))
if(x in A):
  A.remove(x)
  print("x is removed from A")
  print(A)
else:
  print(x ," is not present in A")

{5, 8, 48, 23, 90, 93}
{8, 93}
{90, 5}
{48, 23}
{5, 48, 23, 90}
A is not subset of B
B is not superset of A

**5**

In [1]:
sample_dict={"name":"Mudrika",
            "age":19,
            "salary":8000000,
            "city":"Paris"}
sample_dict["location"]=sample_dict.pop("city")
print(sample_dict)

{'name': 'Mudrika', 'age': 19, 'salary': 8000000, 'location': 'Paris'}